@font-face {
  font-family: Bold2;
  src: url(fonts/LisboaSansOSF-Bold.otf);
}
@font-face {
  font-family: Regular;
  src: url(fonts/LisboaSansOSF.otf);
}
body{
  font-family: Regular;
}
b{
  font-family: Bold2;
}
.login-Form
{
  padding: 6% 5%;
}

.form-heading{
font-family: Regular;
font-size: 24px;
} 
p{
text-align: center;
margin-top: 20px;

}

.btn{
  color: #fff;
  background-color: #6400aa;
  border-color: #6400aa;
}
.btn:hover{
background-color: #6400aa;
  border-color: #6400aa;
  color: #fff;
  text-decoration: none;
}
.next-link{
  color: white;
  text-decoration: none;
}
.next-link:hover{
  color: white;
}

.form-label,label{
  font-family: Regular;
  font-size: 17px;

  margin-bottom: 3px;
}
.next-link{
 color: #fff;
}
.back-link,.next-link{
  text-decoration: none;
}
.col-lg-3{
 margin-left: auto;
}
.showlink{
  float: right;
}
.remember-melabel{
  font-size: 14px;
}